
.container {
  width: 100%;
}

#graphic {
  padding-top: 10px;
}


#sections {
  position: relative;
  display: inline-block;
  width: 35%;
  top: 0px;
  z-index: 90;
  padding-bottom: 200px;
  font-size:16px;
}

.step {
  margin-bottom: 200px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.2em;
  line-height: 23px;
  color: #464648;
  opacity: 0.1;
}

#sections .title {
  font-family: Arial,Helvetica,"san-serif";
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 2px;
  color: #262626;
  line-height: 1.2em;
}

#sections .main-title {
  font-family: Arial,Helvetica,"san-serif";
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 2px;
  color: #262626;
  line-height: 1.2em;
}

#extra-space {
  height: 300px;
}

#vis {
  display: inline-block;
  position: fixed;
  z-index: 1;
  margin-left: 0;
  width: 55%;
  float: right;
  /* height: 600px; */
  /* width: 600px; */
  /* background-color: #ddd; */
}

#vis .title {
  font-size:3.5em;
  text-anchor: middle;
  opacity: 0.5;
  fill: rgb(0, 115, 255);
  stroke: none;
}

#vis .sub-title {
  font-size:2em;
  text-anchor: middle;
  opacity: 0.5;
}

#video {
  position: absolute;
  left: 385px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #666;
  shape-rendering: crispEdges;
}

.highlight {
  fill: #008080;
  font-weight: bold;
}

.cough-arrow {
  stroke: #000;
  stroke-width: 4px;

}

@font-face {
  font-family:"OpenSans";
  src: url("./fonts/OpenSans-Regular.ttf");
}

.vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}






.plotLabels {
  transform: translate(0.5rem,0px);
  font-size:1rem;
  font-family: 'Courier New', Courier, monospace;
}

.plotLabels > * {
  dominant-baseline: middle;
  text-anchor: start;
}

.plotLabels > .plotTitle {
  font-size:1.2rem;
}


#hidden {
  visibility: hidden;
}

#keep-scrolling {
  position: absolute;
  width: 100%;
}

#animated-arrow {
  position: absolute;
  text-align: center;
  width: 100%;  
}

#animated-arrow p {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin-bottom: 0;
}

#animated-arrow svg {
  margin: 0 auto;
}

.hover-animation {
  -moz-animation-duration: 0.8s;
  -webkit-animation-duration: 0.8s;
  -moz-animation-name: slidein;
  -webkit-animation-name: slidein;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
  -webkit-animation-direction: alternate;
}

@-moz-keyframes slidein {
  from {
    top: 0;
  }

  to {
    top: 10px;
  }
}

@-webkit-keyframes slidein {
  from {
    top: 10px;
  }

  to {
    top: 0;
  }
}